@import "natmfat/styles/layers.css";
@import "natmfat/styles/core.css";

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);
@config "natmfat/integrations/tailwind.config";

html, body {
  overscroll-behavior: none;
}

[data-theme] {
  --background-dimmer: var(--interactive-border);
}

pre, code {
  white-space: pre-wrap !important;      /* Wrap text while preserving whitespace */
  word-break: break-all !important;      /* Break words at any character */
  overflow-wrap: break-word !important;  /* Break long words if necessary */
}